extends layout

block content
	div.top_slit
	header.mainheader.fix_position H. DAVID ZHU
			nav
				ul
					li
						a( href="https://dl.dropbox.com/s/zefkble1cdspjws/Zhu%20David%20Resume.pdf", target="_blank") [resume]
					li
						a( href="https://github.com/hzhugit", target="_blank") [github]
					li
						a( href="https://www.linkedin.com/pub/david-zhu/64/5ab/a12/", target="_blank") [linkedin]
					li
						a( href="mailto:huanzhendavidzhu@gmail.com", target="_blank") [contact]
	div.about
		p(style='white-space:pre;')
			| OLIN COLLEGE OF ENGINEERING 2016
			| E: COMPUTING AND PRODUCT DESIGN
	div.main_content
		div#something
			img(src="http://placekitten.com/800/300")