extends layout

block content
	div.name H. DAVID ZHU [
			a(href="https://dl.dropbox.com/s/zefkble1cdspjws/Zhu%20David%20Resume.pdf", target="_blank") RESUME
			| ]
	div.test
		p(style='white-space:pre;')
			| student at olin college of engineering - class of 2016
			| engineeering in computing and user design