extends layout

block content
	div.top_slit
	header.mainheader.fix_position H. DAVID ZHU
			nav
				ul
					li
						a( href="https://dl.dropbox.com/s/zefkble1cdspjws/Zhu%20David%20Resume.pdf", target="_blank") [resume]
					li
						a( href="https://github.com/hzhugit", target="_blank") [github]
					li
						a( href="https://www.linkedin.com/pub/david-zhu/64/5ab/a12/", target="_blank") [linkedin]
					li
						a( href="mailto:huanzhendavidzhu@gmail.com", target="_blank") [contact]
	div.about
		p(style='white-space:pre;')
			| OLIN COLLEGE OF ENGINEERING 2016
			| E: COMPUTING AND PRODUCT DESIGN
	div.main_content
		div.content
			article
				header
				content
					img(src="http://placekitten.com/200/300")
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc diam ipsum, fermentum at cursus in, cursus ut libero. Nulla lectus tortor, varius a justo sed, elementum volutpat massa. Suspendisse vitae lacus quis ipsum tincidunt consequat non ac risus. Suspendisse potenti. Vivamus purus sem, aliquet sit amet convallis non, viverra eu tortor. Sed nulla massa, imperdiet in augue a, hendrerit rhoncus sapien. Suspendisse sed luctus tortor. Cras neque leo, elementum tincidunt euismod ac, vestibulum in ante. Nunc ornare adipiscing iaculis. Nulla bibendum suscipit vestibulum. Aliquam ac tellus quis lectus tempor aliquam quis et tortor. Aenean imperdiet dapibus sapien nec consectetur. Aliquam in enim et lectus pulvinar placerat in ut felis. Praesent tempus, lorem et ullamcorper vehicula, enim leo posuere odio, vitae volutpat ipsum massa vel dolor.
				footer.post_info
				content
		div.content#something
			article
				header
				content

				footer.post_info
				content