doctype 5
html
	head
		title= title
		link(href='http://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="/scripts/main.js", type="text/css", rel="Stylesheet")
		meta(name="viewport", content="width=device-width, initial scale=1.0")
	div.mainheader.clone D
			nav
				ul
					li Z
	body.body
		block content