body {
	text-align: center;
	font: 100% 'Lato', "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 1.2;
}

.body {
	margin: 0 auto;
	height: auto;
	width: 100%;
}

a {
	color: #7F7F7F;
	text-decoration: none;}

a:hover {
	color: #0A64A4;
	text-decoration: none;}

body {
	margin: auto;
	background-image: url(/images/dust.png);
}

.top_slit {
	width: 100%;
	position: fixed;
	height: 5%;
	left: 0;
	top: 0;
	z-index: 499;
	background-image: url(/images/dust.png);
}

.fix_position {
	position: fixed;
}

.mainheader {
	width: 100%;
	font-size: 400%;
	color: white;
	background-image: url(/images/noisy_net.png);
	top: 2%;
	left: 0;
	z-index: 500;
}

.clone {
	display: inline-block !important;
}

.mainheader nav {
	font-size: 25%;
	margin-bottom: 0.5%;
}

.mainheader nav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: table;
}
.mainheader nav ul li {
	float: left;
	position: relative;
	white-space:nowrap;
	text-align: center;
	display: table-cell;
	margin-top: 2%;
	vertical-align:middle;
	margin: auto;
	padding: 0 1.5em;
}

.mainheader a {
	color: #EAEAEA;
}

.mainheader a:hover {
	color: #3A80FF;
}

.about {
	display: inline-block !important;
	width: 50%;
	margin: auto;
	margin-top: 2%;
}

.main_content {
	padding: 2% 0;
	margin: auto;
	width: 50%;
}